$primary-bg-color: #399c6a;
$secondary-bg-color: #f5f5f5;
$font-size-default: 16px;
$font-size-mobile: 12px;
$tile-bg-color: #ccc;
$tile-border-color: #333;
$tile-size-default: 90px;
$tile-size-mobile: 55px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    font-size: $font-size-default;
    text-align: center;
    background-color: $primary-bg-color;
    min-height: 95%;
}

h1 {
    margin: 15px 15px;
}

h2 {
    margin: 10px 10px;
}

#game-info {
    @include flex-center();
    background-color: $secondary-bg-color;
    padding: 5px 0;
    margin: 10px auto 10px;
    max-width: 60vh;
    border-radius: 10px;
    box-shadow: $box-shadow;
}

.info-text {
    padding: 8px 8px;
    white-space: pre-wrap;
}

#game-container {
    @include flex-center();
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(6, $tile-size-default);
    grid-template-columns: repeat(6, $tile-size-default);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.game-tile,
.info-tile,
.empty-tile {
    width: $tile-size-default;
    height: $tile-size-default;
    background-color: $tile-bg-color;
    border: 1px solid $tile-border-color;
    @include flex-center();
    cursor: pointer;
    box-sizing: border-box;
    white-space: pre-wrap;
    border-radius: 5px;
}

.empty-tile {
    display: none;
}

.game-tile.selected {
    outline: 3px solid red;
    transform: scale(1.05);
}

.game-tile.selected-memo {
    outline: 3px solid yellow;
    transform: scale(1.05);
}

#game-instructions {
    @include flex-center();
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0 10px 0 10px;
    margin: 20px auto 10px;
    max-width: 60vh;
    border-radius: 10px;
    box-shadow: $box-shadow;
}

ul {
    display: inline-block;
    margin: 10px 10px;
}

li {
    text-align: left;
}

button {
    border-radius: 5px;
}

#video-wrapper {
    @include flex-center();
    flex-direction: column;
    padding: 0;
    margin: 20px auto 10px;
    max-width: 25vh;
    max-height: 25vh;
}

#video-wrapper img {
    width: 10vh;
    height: 10vh;
}

@media (max-width: 600px) {
    #game-board {
        grid-template-rows: repeat(6, $tile-size-mobile);
        grid-template-columns: repeat(6, $tile-size-mobile);
    }

    .game-tile,
    .info-tile,
    .empty-tile {
        width: $tile-size-mobile;
        height: $tile-size-mobile;
    }

    #game-info,
    #game-instructions {
        max-width: 95%;
    }

    body {
        font-size: $font-size-mobile;
    }
}
